extends layout
include includes/mixins

block nav
    li
        a(href="/transactions") Transactions
    li.active
        a(href="#") Account info
    li
        a(href="/buy-and-sell") Buy and Sell
    li
        a(href="/configuration") Configuration
    li
        a(href="/kiosks") Kiosks
    li
        a(href="/logout") Logout

block content
    if error
        .alert.alert-danger #{ error }
    h1 Robocoin Account Info
    table.table.table-striped.table-condensed
        tr
            td Account Balance
            td #{ robocoinAccount.xbt_balance } BTC
        tr
            td Deposit Address
            td #{ robocoinAccount.deposit_address }
                #robocoinAddress
    h1 Exchange Account Info
    +kioskSelector(kiosks)
    table.table.table-striped.table-condensed
        tr
            td Exchange
            td#exchangeClass --
        tr
            td Fiat Available
            td#fiatAvailable --
        tr
            td BTC Available
            td#btcAvailable --
        tr
            td Deposit Address
            td#depositAddress --
        tr
            td &nbsp;
            td#exchangeAddress

block footerJs
    script(src="/js/qrcode.js")
    script(src="/js/common.js")
    script.
        $(document).ready(function () {

            new QRCode(document.getElementById('robocoinAddress'), '#{ robocoinAccount.deposit_address }');

            var getExchangeInfo = function () {

                $.ajax({
                    url: '/exchange/account-info',
                    data: {
                        kioskId: $('#kioskSelector').val()
                    },
                    success: function (data) {
                        $('#fiatAvailable').html(data.balance.fiat_available + ' ' + data.currency);
                        $('#btcAvailable').html(data.balance.btc_available + ' BTC');
                        $('#depositAddress').html(data.address);
                        $('#exchangeClass').html(data.exchangeClass);

                        $('#exchangeAddress').empty();
                        new QRCode(document.getElementById('exchangeAddress'), data.address);
                        document.body.style.cursor = 'default';
                    },
                    error: function (data) {

                        $('#kioskSelector').after(dismissibleAlert('danger', data.responseText));
                        document.body.style.cursor = 'default';
                    }
                });
            };
            getExchangeInfo();

            $('#kioskSelector').on('change', function () {
                document.body.style.cursor = 'wait';
                getExchangeInfo();
            });
        });