extends layout
include includes/mixins

block nav
    li
        a(href="/transactions") Transactions
    li
        a(href="/account-info") Account info
    li
        a(href="/configuration") Configuration
    li
        a(href="/logout") Logout

block content
    +kioskSelector(kiosks)
    .col-md-12
        .row
            h1 Buy and Sell
            div(style="float:left;width:100%;")
                p(style="float:left;") Buy price: $
                span#lastBuyPrice ----
                span(style="clear:right;") &nbsp;#{ exchangeCurrency }
                p(style="float:left;clear:left;") Sell price: $
                span(style="float:left;")#lastSellPrice ----
                span(style="float:left;") &nbsp;#{ exchangeCurrency }
    input(type="hidden" value="#{ csrfToken }")#_csrf
    .col-md-12
        .row
            fieldset
                legend Replenish your Robocoin account
                .form-group
                    label(for="btcBuyAmount") BTC amount
                    input(type="text").form-control#btcBuyAmount
                .form-group
                    label(for="btcBuyPrice") BTC price
                    input(type="text").form-control#btcBuyPrice
                button.btn.btn-default#buyButton Buy
    .col-md-12
        .row
            fieldset
                legend Sell BTC on exchange
                .form-group
                    label(for="btcSellAmount") BTC amount
                    input(type="text").form-control#btcSellAmount
                .form-group
                    label(for="btcSellPrice") BTC price
                    input(type="text").form-control#btcSellPrice
                button.btn.btn-default#sellButton Sell
    +loginModal('Make Trade')

block footerJs
    script(src="/js/buy-and-sell.js")
    script.
        $(document).ready(function () {

            var updater = new PriceUpdater('lastBuyPrice', 'lastSellPrice', 'kioskSelector');
            updater.start();

            var _showAlert = function (message, type, $button) {

                $('.alert').remove();
                $button.after('<div class="alert alert-' + type + '" role="alert">' + message + '<div>');
                // re-enable the fieldset
                var $fieldset = $button.parent().parent();
                $fieldset.attr('disabled', false);
                $('body').css('cursor', 'default');
            };

            var _onTradeButtonClicked = function (action, event) {

                event.preventDefault();
                var $button = $(event.target);
                // disable the fieldset
                var $fieldset = $button.parent().parent();
                $fieldset.attr('disabled', true);
                var $body = $('body');
                $body.css('cursor', 'wait');

                $.ajax({
                    type: 'POST',
                    url: '/exchange/' + action.toLowerCase(),
                    data: {
                        btcAmount: $('#btc' + action + 'Amount').val(),
                        btcPrice: $('#btc' + action + 'Price').val(),
                        _csrf: $('#_csrf').val(),
                        username: $('#username').val(),
                        password: $('#password').val(),
                        kioskId: $('#kioskSelector').val()
                    },
                    success: function(data) {
                        _showAlert(data, 'success', $button);
                        $('#username').val('');
                        $('#password').val('');
                    },
                    error: function (data) {
                        _showAlert(data.responseText, 'danger', $button);
                    }
                });
            };

            var $loginModal = $('#loginModal');
            $loginModal.modal({ show: false });

            $('#buyButton').on('click', function (event) {
                $loginModal.modal('show');
                $('#reauthButton').off('click').on('click', function (event) {
                    _onTradeButtonClicked('Buy', event);
                });
            });

            $('#sellButton').on('click', function (event) {
                $loginModal.modal('show');
                $('#reauthButton').off('click').on('click', function (event) {
                    _onTradeButtonClicked('Sell', event);
                });
            });

            $('#kioskSelector').on('change', function () {
                updater.update();
            });
        });
