extends layout

block nav
    li
        a(href="/") Transactions
    li
        a(href="/account-info") Account info
    li.active
        a(href="#") Buy and Sell

block content
    .col-md-12
        h1 Buy and Sell
        div(style="float:left;width:100%;")
            p(style="float:left;") Last Bitstamp price: $
            span#lastPrice ----
    .col-md-12
        fieldset
            form(role="form")
                legend Replenish your Robocoin account
                .form-group
                    label(for="btcAmount") BTC amount
                    input(type="text").form-control#btcAmount
                .form-group
                    label(for="btcPrice") BTC price
                    input(type="number").form-control#btcPrice
                button.btn.btn-default#buyButton Buy

block footerJs
    script(src="/js/buy-and-sell.js")
    script.
        $(document).ready(function () {

            var updater = new PriceUpdater('lastPrice');
            updater.start();

            $('#buyButton').on('click', function (event) {

                event.preventDefault();
                var $button = $(this);
                // disable the fieldset
                var $fieldset = $button.parent().parent();
                $fieldset.attr('disabled', true);
                var $body = $('body');
                $body.css('cursor', 'wait');

                $.ajax({
                    type: 'POST',
                    url: '/exchange/buy',
                    data: {
                        btcAmount: $('#btcAmount').val(),
                        btcPrice: $('#btcPrice').val()
                    },
                    success: function(data) {

                        $('.alert').remove();
                        $button.after('<div class="alert alert-success">' + data + '<div>');
                        // re-enable the fieldset
                        $fieldset.attr('disabled', false);
                        $body.css('cursor', 'default');
                    }
                });
            });
        });
