extends layout

block nav
    li
        a(href="/") Transactions
    li
        a(href="/account-info") Account info
    li.active
        a(href="#") Buy and Sell

block content
    .col-md-12
        .row
            h1 Buy and Sell
            div(style="float:left;width:100%;")
                p(style="float:left;") Last Bitstamp price: $
                span#lastPrice ----
    .col-md-12
        .row
            fieldset
                legend Replenish your Robocoin account
                .form-group
                    label(for="btcBuyAmount") BTC amount
                    input(type="text").form-control#btcBuyAmount
                .form-group
                    label(for="btcBuyPrice") BTC price
                    input(type="text").form-control#btcBuyPrice
                button.btn.btn-default#buyButton Buy
    .col-md-12
        .row
            fieldset
                legend Sell BTC on Bitstamp
                .form-group
                    label(for="btcSellAmount") BTC amount
                    input(type="text").form-control#btcSellAmount
                .form-group
                    label(for="btcSellPrice") BTC price
                    input(type="text").form-control#btcSellPrice
                button.btn.btn-default#sellButton Sell

block footerJs
    script(src="/js/buy-and-sell.js")
    script.
        $(document).ready(function () {

            var updater = new PriceUpdater('lastPrice');
            updater.start();

            var _onTradeButtonClicked = function (action, event) {

                event.preventDefault();
                var $button = $(event.target);
                // disable the fieldset
                var $fieldset = $button.parent().parent();
                $fieldset.attr('disabled', true);
                var $body = $('body');
                $body.css('cursor', 'wait');

                $.ajax({
                    type: 'POST',
                    url: '/exchange/' + action.toLowerCase(),
                    data: {
                        btcAmount: $('#btc' + action + 'Amount').val(),
                        btcPrice: $('#btc' + action + 'Price').val()
                    },
                    success: function(data) {

                        $('.alert').remove();
                        $button.after('<div class="alert alert-success">' + data + '<div>');
                        // re-enable the fieldset
                        $fieldset.attr('disabled', false);
                        $body.css('cursor', 'default');
                    }
                });
            };

            $('#buyButton').on('click', function (event) {
                _onTradeButtonClicked('Buy', event);
            });

            $('#sellButton').on('click', function (event) {
                _onTradeButtonClicked('Sell', event);
            });
        });
