extends layout
include includes/mixins

block nav
    li
        a(href="/transactions") Transactions
    li
        a(href="/account-info") Account info
    li
        a(href="/configuration") Configuration
    li
        a(href="/logout") Logout

block content
    +kioskSelector(kiosks)
    div(style="width: 100%, height: 500px")#hourlyCash
    div(style="width: 100%, height: 500px")#hourlyCashError
    div(style="width: 100%, height: 500px")#dailyCash
    div(style="width: 100%, height: 500px")#dailyCashError
    div(style="width: 100%, height: 500px")#monthlyCash
    div(style="width: 100%, height: 500px")#monthlyCashError

block footerJs
    script(src="https://www.google.com/jsapi")
    script.
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawCharts);
        function drawCharts () {

            var dailyCashChart = new google.visualization.LineChart(document.getElementById('dailyCash'));
            var hourlyCashChart = new google.visualization.LineChart(document.getElementById('hourlyCash'));
            var monthlyCashChart = new google.visualization.LineChart(document.getElementById('monthlyCash'));

            var _fetchChartData = function () {

                var jsonData = $.ajax({
                    url: '/dashboard/summary',
                    data: {
                        kioskId: $('#kioskSelector').val()
                    },
                    dataType: 'json',
                    async: false,
                    success: function (data) {

                        var dailyCash = data.cashFlow.daily;
                        if (dailyCash.length > 0) {
                            dailyCash.unshift(['Day', 'Cash In', 'Cash Out']);
                            var dailyCashData = google.visualization.arrayToDataTable(dailyCash);
                            dailyCashChart.draw(dailyCashData, {
                                title: 'Daily Cash In/Out',
                                vAxis: { title: '#{ kioskCurrency }' },
                                hAxis: { title: 'Day' },
                                animation: {
                                    duration: 1000
                                }
                            });
                        } else {
                            $('#dailyCashError').text('You have no daily cash transaction summary');
                        }

                        var hourlyCash = data.cashFlow.hourly;
                        if (hourlyCash.length > 0) {
                            hourlyCash.unshift(['Hour', 'Cash In', 'Cash Out']);
                            var hourlyCashData = google.visualization.arrayToDataTable(hourlyCash);
                            hourlyCashChart.draw(hourlyCashData, {
                                title: 'Hourly Cash In/Out',
                                vAxis: { title: '#{ kioskCurrency }' },
                                hAxis: { title: 'Hour' },
                                animation: {
                                    duration: 1000
                                }
                            });
                        } else {
                            $('#hourlyCashError').text('You have no hourly cash transaction summary');
                        }

                        var monthlyCash = data.cashFlow.monthly;
                        if (monthlyCash.length > 0) {
                            monthlyCash.unshift(['Month', 'Cash In', 'Cash Out']);
                            var monthlyCashData = google.visualization.arrayToDataTable(monthlyCash);
                            monthlyCashChart.draw(monthlyCashData, {
                                title: 'Monthly Cash In/Out',
                                vAxis: { title: '#{ kioskCurrency }' },
                                hAxis: { title: 'Month' },
                                animation: {
                                    duration: 1000
                                }
                            });
                        } else {
                            $('#monthlyCashError').text('You have no monthly cash transaction summary');
                        }
                    }
                });
            };

            _fetchChartData();
            setInterval(_fetchChartData, 60000);
        };

        $('#kioskSelector').on('change', function () {
            drawCharts();
        });