extends layout

block nav
    li
        a(href="/") Transactions
    li
        a(href="/account-info") Account info
    li
        a(href="/buy-and-sell") Buy and Sell
    li.active
        a(href="#") Reports

block content
    h1 Reports
    form(role="form")
        .form-group
            label(for="startingDate") Starting Date
            input(type="date").form-control#startingDate
        .form-group
            label(for="endingDate") Ending Date
            input(type="date").form-control#endingDate
        button.btn.btn-default#fetchReports Fetch Reports
    div(style="width: 900px; height: 500px")#chart

block footerJs
    script(src="https://www.google.com/jsapi")
    script.
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart () {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Date');
            dataTable.addColumn('number', 'Sell Revenue');
            dataTable.addColumn('number', 'Sell Miner\'s Fee');
            dataTable.addColumn('number', 'Sell Exchange Fee');
            dataTable.addColumn('number', 'Sell Robocoin Fee');
            dataTable.addColumn('number', 'Buy Revenue');
            dataTable.addColumn('number', 'Buy Miner\'s Fee');
            dataTable.addColumn('number', 'Buy Exchange Fee');
            dataTable.addColumn('number', 'Buy Robocoin Fee');
            var jsonData = $.ajax({
                url: '/reports/transactions',
                dataType: 'json',
                async: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        dataTable.addRow(data[i]);
                    }
                }
            });
            var options = {
                "title": "Revenue",
                "curveType": "function"
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart'));
            chart.draw(dataTable, options);
        };