extends layout

block nav
    li.active
        a(href="#") Transactions
    li
        a(href="/account-info") Account info
    li
        a(href="/buy-and-sell") Buy and Sell

block content
    h1 Robocoin Transactions
    form(role="form" action="#").form-inline.transaction-filter
        button.btn.btn-default By Date
        .form-group
            input(type="datetime-local").form-control
    form(role="form").form-inline.transaction-filter
        button.btn.btn-default Since Transaction
        .form-group
            input(type="text").form-control
    table.table.table-striped.table-condensed.table-bordered.hidden#robocoinTransactions
        tr
            th Transaction ID
            th Action
            th Fiat
            th XBT
            th Time
    h1 Bitstamp Transactions
    table.table.table-striped.table-condensed.table-bordered#bitstampTransactions
        tr
            th Transaction ID
            th Order ID
            th Type
            th Fiat
            th XBT
            th Transaction Fee
            th Time

block footerJs
    script.
        $(document).ready(function () {

            $.get(
                '/exchange/latest-transactions',
                function (data) {

                    var rows = '';
                    var row;
                    var TYPES = ['deposit', 'withdrawal', 'market trade'];
                    var rowClass;
                    var btcAsFloat;

                    for (var i = 0; i < data.length; i++) {

                        row = data[i];
                        btcAsFloat = parseFloat(row.btc);

                        if (btcAsFloat < 0) {
                            rowClass = 'send';
                        } else if (btcAsFloat > 0) {
                            rowClass = 'receive';
                        }

                        rows += '<tr class="' + rowClass + '">';
                        rows += '<td>' + row.id + '</td>';
                        rows += '<td>' + (row.order_id ? row.order_id : '') + '</td>';
                        rows += '<td>' + TYPES[row.type] + '</td>';
                        rows += '<td>' + (row.usd ?  row.usd : '') + '</td>';
                        rows += '<td>' + row.btc + '</td>';
                        rows += '<td>' + row.fee + '</td>';
                        rows += '<td>' + (new Date(row.datetime).toUTCString()) + '</td>';
                        rows += '</tr>';
                    }

                    $('#bitstampTransactions').append(rows);
                },
                'json'
            );

            $('.transaction-filter button').on('click', function (event) {

                event.preventDefault();
                $('#robocoinTransactions').removeClass('hidden');

                $.ajax({
                    url: '/robocoin/transactions',
                    dataType: 'json',
                    success: function (data) {

                        var transaction;
                        var rows = [];
                        var $row;

                        for (var i = 0; i < data.length; i++) {

                            transaction = data[i];

                            $row = $('<tr></tr>')
                                .addClass(transaction.action)
                                .addClass('transactionRow')
                                .append('<td>' + transaction.id + '</td>')
                                .append('<td>' + transaction.action + '</td>')
                                .append('<td>' + (transaction.fiat ? transaction.fiat : '') + '</td>')
                                .append('<td>' + transaction.xbt + '</td>')
                                .append('<td>' + (new Date(transaction.time)).toUTCString() + '</td>');
                            rows.push($row);
                        }

                        $('#robocoinTransactions .transactionRow').remove();
                        $('#robocoinTransactions').append(rows);
                    }
                });
            });
        });
