body {
    padding-top: 70px;
}
tr.send {
    color: red;
}
tr.receive {
    color: green;
}
tr.forward {
    color: gray;
}
.transaction-filter button {
    width: 10em;
}
.transaction-filter input {
    width: 20em !important;
}
.navbar-inverse {
    background-color: #3c7592;
    border-color: #284d61;
}
.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #284d61;
}
.navbar-inverse .navbar-nav > li > a,.navbar-inverse .navbar-brand  {
    color: #b6e6ff;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #284d61;
}
fieldset + fieldset {
    margin: 5em auto auto auto;
}